<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="AppID" value="771397953024949" xdt:Transform="Remove"/>
    <add key="AppSecret" value="82842d6e724791bd0536d6259ae1adec" xdt:Transform="Remove" />
    <add xdt:Transform="Insert" key="AppID" value="770933543071390"/>
    <add xdt:Transform="Insert" key="AppSecret" value="5a91c9b9c748a6005dc9b27770fea68f"/>
    
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" xdt:Transform="Replace
         " connectionString="Server=efe02473-14f8-458c-bb43-a73b0124e719.sqlserver.sequelizer.com;Database=dbefe0247314f8458cbb43a73b0124e719;User Id=hztgstuqnmssvgee;Password=cEe6y344jm3diwiNTwJnLt7GHWhp3Vp3dgbJaUAxbZeEZTEiueaBM7ERFEvJUMaw;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
